<div class="container-fluid">
  <div class="row" id="index-title-card">
    <h1 class="col-lg-12 text-center" id="index-title-card-header"></h1>
  </div>
  <hr>
  <br>
  <div class="row">
    <div class="col-lg-10 offset-lg-1 index-text">
      <p>
        The Multiple Sclerosis Genetics Research Laboratory at the Department of Neurology in the UCSF School of Medicine is combining genetics and functional genomics together with immunologic, biochemical,
        neuroimaging and clinical experimental approaches to identify and characterize pathogenic processes of relevance to multiple sclerosis (MS) and other inflammatory conditions of the central nervous system.
      </p>
      <p>
        Neurological impairment in multiple sclerosis is the outcome of a rather extensive and coordinated series of events that include peripheral lymphocyte activation, disruption of the blood-brain barrier, and cellular
        infiltration into the brain parenchyma leading to tissue injury, neurodegeneration, and neurological deficits. The nature and intensity of this process as well as the physiological ability to restore
        homeostasis are conditioned by the unique amino acid sequences that define allelic variants on each of the participating molecules. Genes, either in their germline configuration or as part of complex
        functional networks, play a primary role in determining who is at risk for developing such disorders, how the disease progresses, and how affected individuals responds to therapy.
      </p>
      <p>
        Our goal is to identify the major genetic factors that predispose to autoimmunity in the central nervous system and modulate disease presentation and progression. The availability of highly sensitive
        and high-capacity methods for analysis of gene variation and expression combined with the implementation of algorithms that predict behaviors in complex biological circuits provides an outstanding
        opportunity to facilitate progress in the integration of multiple data sources and functional interpretation of physiological and laboratory results.
      </p>
    </div>
  </div>
</div>