<div class="container-fluid">
  <div class="row">
    <h1>Redcap Page</h1>
  </div>

  <div class="row spinner">
    <div class="loader"></div>
  </div>

  <br>

  <div class="row spinner">
    <div class="col-lg-12">
      <h3 class="text-center">Retrieving RedCAP data</h3>
    </div>
  </div>

</div>