// Place all the styles related to the home controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

#welcome-banner-div {

}
#index-title-card {
  background-image: image_url("genomic_map.png");
  min-height:400px;
  height:auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}
#index-title-card-header {
  top:150px;
  font-family: sans-serif;
  font-size:48pt;
  font-weight:bold;
  color:white;
}
.index-text {
  margin-bottom:25vh;
}
#jobs-title-card {
  background-image: image_url("empty_bench.png");
  min-height:400px;
  height:auto;
  background-repeat: no-repeat;
  background-size: cover;
}
#jobs-title-card-header {
  top:150px;
  font-family: sans-serif;
  font-size:48pt;
  font-weight:bold;
  color:white;
  -webkit-text-stroke: 1px black;
}
#jobs-disclaimer{
}
.btn-msgenes {
  background-color: #052049;
  color:white;
  border-radius:15px;
  padding:5px 10px;
}
.btn-msgenes:hover {
  color:white;
  text-decoration: underline;
}
.scroll-to-job-btn {
  margin-left:35px;
  margin-right:35px;
}

#publications-title-card {
  background-image: image_url("publications_banner.jpg");
  background-position: center;
  min-height:500px;
  background-size: cover;
}
#publications-title-card-header{
  top:150px;
  font-family: sans-serif;
  font-size:48pt;
  font-weight:bold;
  color:white;
  -webkit-text-stroke: 1px black;
}
.pubmed-link:hover {
  text-decoration: none;
}

.abstract-collapse-toggle {
  font-size:10pt;
}

.card {
  margin-bottom: 10px;
}

[data-toggle="collapse"] .fa:before {
  content: "\2191";
}

[data-toggle="collapse"].collapsed .fa:before {
  content: "\2193";
}

#research-title-card {
  background-image: image_url("researchandresources.png");
  min-height:400px;
  height:auto;
  background-repeat: no-repeat;
  background-size: cover;
}
#research-title-card-header{
  top:150px;
  font-family: sans-serif;
  font-size:48pt;
  font-weight:bold;
  color:white;
  -webkit-text-stroke: 1px black;
}
#resource-links {
  display: block;
}
.btn-resource {
  padding:5px 10px;
  background-color: #052049;
  color:white;
  border-radius:15px;
  margin-left:25px;
  margin-right:25px;
}
.btn-resource:hover {
  color:white;
  text-decoration: underline;
}
#team-title-card {
  background-image: image_url("team-retreat.png");
  min-height:400px;
  height:auto;
  background-repeat: no-repeat;
  background-size: cover;
}
#team-title-card-header {
  top:150px;
  font-family: sans-serif;
  font-size:48pt;
  font-weight:bold;
  color:white;
  -webkit-text-stroke: 1px black;
}
.portrait-placeholder {
  display:block;
  margin-left:auto;
  margin-right:auto;
}
.team-block {
  margin-bottom:30px;
}
.team-header {
  margin-bottom: 3px;
}
.team-subheader {
  margin-bottom:20px;
}
.team-thumbnail {
  float:left;
  margin-right: 30px;
}