<div class="container-fluid" id="footer-container">
  <div class="row">
    <div class="col-lg-4 offset-lg-1" id="footer-content">
      <%= link_to "Website Maintained by UCSF MS Data Core", new_user_session_path, :class => "footer-link" %>
    </div>
  </div>
</div>